<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content1 %}<h1>RADHE RADHE </h1>{% endblock %}
   {% block content3 %} <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi placeat repellat iste porro non consectetur accusantium, nostrum nihil labore repudiandae excepturi explicabo, molestias minus ea libero voluptatum ex, nobis ratione voluptates. Repellendus earum ad beatae quo iusto ex a perferendis voluptates dolorem similique. Est aliquid repudiandae nemo! Rem est aspernatur ipsa distinctio debitis temporibus enim nesciunt praesentium sequi architecto quisquam, earum beatae vero eaque optio. Voluptatem magnam veritatis doloremque mollitia sunt dolorem expedita libero odio esse quod fugit laboriosam tenetur assumenda, temporibus illum, nam saepe ipsum eum eius. Hic obcaecati cum laborum quaerat totam et voluptates repudiandae officiis. Obcaecati, ratione.</p>{% endblock %}
    {% block conten2 %}<button><a href="{% url "about" %}">about page</a></button>{% endblock %}

</body>
</html>